<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#f9f9f9;border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important" bgcolor="#f9f9f9">
  <tbody>
      <tr>
          <td>
              <table style="border-collapse:collapse;margin:auto;max-width:635px;min-width:320px;width:100%" class="m_5191768325981104092main-wrap">
                  <tbody>
                      <tr>
                          <td valign="top">
                              <table cellpadding="0" cellspacing="0" border="0" class="m_5191768325981104092reply_header_table" style="border-collapse:collapse;color:#c0c0c0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%">
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td valign="top" style="padding:0 20px">
                              <table cellpadding="0" cellspacing="0" border="0" align="center" style="background-clip:padding-box;border-collapse:collapse;border-radius:3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%">
                                  <tbody>
                                      <tr>
                                          <td valign="top">
                                              <table cellpadding="0" cellspacing="0" border="0" style="border:none;border-collapse:separate;font-size:1px;height:2px;line-height:3px;width:100%">
                                                  <tbody>
                                                      <tr>
                                                          <td valign="top" style="background-color:#73b72b;border:none;font-family:'Helvetica Neue',Arial,sans-serif;width:100%" bgcolor="#73b72b">&nbsp;</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <table cellpadding="0" cellspacing="0" border="0" style="background-clip:padding-box;border-collapse:collapse;border-color:#dddddd;border-radius:0 0 3px 3px;border-style:solid solid none;border-width:0 1px 1px;width:100%">
                                                  <tbody>
                                                      <tr>
                                                          <td style="background-clip:padding-box;background-color:white;border-radius:0 0 3px 3px;color:#4f5255;font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;overflow:hidden;padding:40px 40px 30px" bgcolor="white">
                                                              <div style="margin-bottom:16px;margin-top:0;padding-top:0;text-align:center!important" align="center">
                                                                  <img src="http://www.azurian.com/_pic/Logo_AzurianDTE.png" style="margin:8px 0;max-width:70%">
                                                              </div>
                                                              
                                                              <h2 style="color:#4f5255;font-size:16px;font-weight:bold;margin:30px 0 7px;text-align:center!important" align="center">Bienvenido</h2>

                                                              <p style="line-height:1.5;margin:0 0 17px;text-align:left!important; font-size: .75rem;" align="left"><br>Hola, <span style="text-transform: capitalize !important;">Catherine Perez</span>.</p>
                                                              <p style="line-height:1.5;margin:0 0 17px;text-align:left!important; font-size: .75rem;" align="left">Le damos la bienvenida a Azurian DTE - empresa <strong>Ampel S.A</strong>, ambiente <strong>0</strong>.</p>

                                                              <p style="line-height:1.5;margin:0 0 17px;text-align:left!important; font-size: .75rem;" align="left">Para poder utilizar nuestros servicios de facturación electrónica, le recordamos que debe de hacer uso de las credencialesde autenticación del corporativo.</p>

                                                              <p style="line-height:1.5;margin:0 0 17px;text-align:left!important; font-size: .75rem;" align="left">Ante cualquier consulta o problema puede contactar a nuestro equipo de soporte al teléfono<br><a style="text-decoration: none; color: #1e70cd;" href="tel:+56224025400">+56 2 24025400</a></p>

                                                              <div style="background: #efefef; width: 100%; height: 1px; margin: 20px auto;"></div>

                                                              <p style="line-height:1.5;margin:0 0 17px;text-align:left!important; font-size: .75rem;" align="left">Proteja su contraseña<br><br>El personal de Azurian <b>NUNCA</b> pedirá su contraseña por correo electrónico. Solo necesitará introducirla al momento de iniciar sesión en el sistema Azurian DTE</p>

                                                              <p style="width: 100%;line-height:1.5;margin:0 0 17px;font-size: .75rem;background: #f5f5f5;text-align: center !important;padding: 5px;border-radius: .25rem;" align="center"><i>Este es un mensaje de correo electrónico automático, por favor no lo responda.</i></p>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                              
                              <div style="display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;color:#545454;display:none;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;height:0;line-height:20px;margin:0 auto;max-height:0;max-width:100%;opacity:0;overflow:hidden;width:100%">
                                      <tbody>
                                          <tr>
                                              <td valign="top" width="80" style="color:#272727;height:18px;padding-left:40px;text-align:left" align="left">
                                                  <img alt="Triangle" height="18" src="https://ci4.googleusercontent.com/proxy/9Y1p5EWpjsisMhMUd9iRWBGSpCCzryQp9437rQYtk9fHQCqD3v0QXECLRlIEEDj9fpWGPiOKTWOEg5nKV1-hkYIVpzTmot4bPgS9jou00ShxYQlxF1EKNnUXKyba1xhXrNoF-0t5E9jf6NR1-BJ1LfJKzY5t_qM08f7pOESk=s0-d-e1-ft#https://marketing.intercomassets.com/assets/email/personal/triangle-8747882e9ef8882f9bc057241fd3c049.png" style="display:inline-block;max-width:100%;outline:none;text-decoration:none" width="40">
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>

                              <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin:0 auto;max-width:100%;width:100%">
                                  <tbody>
                                      <tr>
                                          <td valign="top" width="100%">
                                              <img alt="arrow" src="https://ci5.googleusercontent.com/proxy/Wk07so5PXq8lsSwIUO9c6ah52RLjXWk7k2BErhQH_i6_zPLk9Q4si6YDsfkgAhE6IvUpjRmPRjPCWPeC01WAUiiFclRdCpUQWzpXH43-YUjPRSPGweOtYg32zpyIwPjzEbJJNCqdozRICpO9jGnYNwwJd2NQGeK1HA8LDLmk0S8SCDaxeK-FfGv_Se0LHYSH-5Kg6DCc1e599qBF=s0-d-e1-ft#https://marketing.intercomassets.com/assets/email/personal/arrow-37f6774809df6fd083bfc98e9d562e23ca6ede618e2b5e10c042de88d2f858dd.png" style="max-width:100%;width:100%">
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                              
                              <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                                  <tbody>
                                      <tr>
                                      </tr>
                                  </tbody>
                              </table>
                              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                      <tr>
                                          <td width="75%">
                                              <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                                                  <tbody>
                                                      <tr>
                                                          <td width="40">&nbsp;</td>
                                                          <td valign="middle" width="45" style="color:#272727" align="left">
                                                              <img src="https://lh3.googleusercontent.com/Ylhwx80ar7Er0pNAUjcYh5FdXCc49sA9i-EVvWv-R0Ynm9Q_djnF20ZbTmR3NpCnB37_fWsy1UEvACmXT59-NX9uiEFdxxFp0zxvhqp_AveJdAjYAeGIK2q1CYmqqbpu2B61uh_W8g=s35-p-k" height="35" width="35" alt="user admin" style="background-clip:padding-box;border-radius:20px;display:inline-block;height:35px;max-width:100%;outline:none;text-decoration:none;width:35px;margin-left: 2px;">
                                                              <span class="HOEnZb">
                                                                  <font color="#888888"></font>
                                                              </span>
                                                          </td>
                                                          <td style="color:#999999">
                                                              <span>©2021 Azurian ltda.</span>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      <tr>
          <td valign="top" height="20"></td>
      </tr>
  </tbody>
</table>